<!Doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>Chatu</title>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css'>
    <link rel='stylesheet' href='css/styles.css'>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>

</head>

<body class="purple lighten-3">
    <div class="container">
        <div class="row">
            <div class="login-form purple lighten-5 col s10 col m6 offset-s1 offset-m3">
                <h4 class="center">Forgot Password</h4>
                <form method="post" action="/forgot-password">
                    <div class="input-field">
                        <input id="email" type="text" name="email" class="validate">
                        <label for="email">Email</label>
                    </div>
                    <div class="input-field">
                    </div>
                    <button type="submit" class="col s2 offset-s5 deep-purple lighten-1 waves-effect waves-light btn btn-small">Submit</button>
                </form>
            </div>
        </div>
    </div>
</body>

</html>